.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    max-width: 850px;
    overflow: hidden;
    justify-content: center;
  }
  
  .card-header {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
  .card-title {
    margin: 0;
  }
  
  .card-body {
    display: flex;
    padding: 30px;
  }
  
  .profile-add {
    border-radius: 0%;
    margin-right: 10px;
    width: 350px;
    padding-right: 0px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .profile-det {
    display: flex;
    flex-direction: column;
    padding-left: 110px;
  }
  
  .profile-details p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .btn-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  
  .btn {
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5px 5px;
    cursor: pointer;
  }

  .descriere {
    text-align: center;
    padding-top: 15px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  