.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(231, 221, 203); */
    /* box-shadow: bisque; */

    background-color: rgb(202, 202, 202);

    padding: 35px;
    margin-top: 25%; 
    min-height: 50%; 

    border-radius: 15px;
}

.textTitlu{
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}
  
  