.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    max-width: 600px;
    overflow: hidden;
  }
  
  .card-header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
  }
  
  .card-body {
    display: flex;
    padding: 20px;
  }
  
  .profile-profile {
    /* border-radius: 50%; */
    margin-right: 20px;
    width: 250px;
    padding-left: 30px;
    /* padding-top: 40px;
    padding-bottom: 40px; */
  }
  
  .profile-detailsProfile {
    /* display: flex; */
    flex-direction: column;
    padding-left: 110px;
    width: 350px;
    padding-right: 20px;
  }
  
  .profile-details p {
    margin: 0;
    margin-bottom: 2px;
  }
 